<div>
  <h2 id="page-heading" data-cy="ParameterLookupHeading">
    <span jhiTranslate="vksBackendApp.parameterLookup.home.title">Parameter Lookups</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="vksBackendApp.parameterLookup.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-parameter-lookup"
        [routerLink]="['/parameter-lookup/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="vksBackendApp.parameterLookup.home.createLabel"> Create a new Parameter Lookup </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters" (filterChange)="navigateToWithComponentValues()"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="parameterLookups?.length === 0">
    <span jhiTranslate="vksBackendApp.parameterLookup.home.notFound">No Parameter Lookups found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="parameterLookups && parameterLookups.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="parameterType">
            <span jhiTranslate="vksBackendApp.parameterLookup.parameterType">Parameter Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="vksBackendApp.parameterLookup.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="displayValue">
            <span jhiTranslate="vksBackendApp.parameterLookup.displayValue">Display Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="vksBackendApp.parameterLookup.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="vksBackendApp.parameterLookup.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="vksBackendApp.parameterLookup.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <span jhiTranslate="vksBackendApp.parameterLookup.createdOn">Created On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isDeleted">
            <span jhiTranslate="vksBackendApp.parameterLookup.isDeleted">Is Deleted</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parameterLookup of parameterLookups; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/parameter-lookup', parameterLookup.id, 'view']">{{ parameterLookup.id }}</a>
          </td>
          <td jhiTranslate="{{ 'vksBackendApp.ParameterType.' + parameterLookup.parameterType }}">{{ parameterLookup.parameterType }}</td>
          <td>{{ parameterLookup.description }}</td>
          <td>{{ parameterLookup.displayValue }}</td>
          <td>{{ parameterLookup.lastModified | formatMediumDatetime }}</td>
          <td>{{ parameterLookup.lastModifiedBy }}</td>
          <td>{{ parameterLookup.createdBy }}</td>
          <td>{{ parameterLookup.createdOn | formatMediumDatetime }}</td>
          <td>{{ parameterLookup.isDeleted }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/parameter-lookup', parameterLookup.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/parameter-lookup', parameterLookup.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(parameterLookup)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="parameterLookups && parameterLookups.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
