<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-nominee-heading" data-cy="NomineeCreateUpdateHeading" jhiTranslate="vksBackendApp.nominee.home.createOrEditLabel">
        Create or edit a Nominee
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.middleName" for="field_middleName">Middle Name</label>
          <input
            type="text"
            class="form-control"
            name="middleName"
            id="field_middleName"
            data-cy="middleName"
            formControlName="middleName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.fatherName" for="field_fatherName">Father Name</label>
          <input
            type="text"
            class="form-control"
            name="fatherName"
            id="field_fatherName"
            data-cy="fatherName"
            formControlName="fatherName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.motherName" for="field_motherName">Mother Name</label>
          <input
            type="text"
            class="form-control"
            name="motherName"
            id="field_motherName"
            data-cy="motherName"
            formControlName="motherName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.guardianName" for="field_guardianName">Guardian Name</label>
          <input
            type="text"
            class="form-control"
            name="guardianName"
            id="field_guardianName"
            data-cy="guardianName"
            formControlName="guardianName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.gender" for="field_gender">Gender</label>
          <input type="text" class="form-control" name="gender" id="field_gender" data-cy="gender" formControlName="gender" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.dob" for="field_dob">Dob</label>
          <div class="input-group">
            <input
              id="field_dob"
              data-cy="dob"
              type="text"
              class="form-control"
              name="dob"
              ngbDatepicker
              #dobDp="ngbDatepicker"
              formControlName="dob"
            />
            <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.aadharCard" for="field_aadharCard">Aadhar Card</label>
          <input
            type="text"
            class="form-control"
            name="aadharCard"
            id="field_aadharCard"
            data-cy="aadharCard"
            formControlName="aadharCard"
          />
          <div
            *ngIf="editForm.get('aadharCard')!.invalid && (editForm.get('aadharCard')!.dirty || editForm.get('aadharCard')!.touched)"
          ></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.nomineeDeclareDate" for="field_nomineeDeclareDate"
            >Nominee Declare Date</label
          >
          <div class="d-flex">
            <input
              id="field_nomineeDeclareDate"
              data-cy="nomineeDeclareDate"
              type="datetime-local"
              class="form-control"
              name="nomineeDeclareDate"
              formControlName="nomineeDeclareDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.relation" for="field_relation">Relation</label>
          <input type="text" class="form-control" name="relation" id="field_relation" data-cy="relation" formControlName="relation" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.permanentAddr" for="field_permanentAddr">Permanent Addr</label>
          <input
            type="text"
            class="form-control"
            name="permanentAddr"
            id="field_permanentAddr"
            data-cy="permanentAddr"
            formControlName="permanentAddr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.lastModified" for="field_lastModified">Last Modified</label>
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.createdOn" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.isDeleted" for="field_isDeleted">Is Deleted</label>
          <input type="checkbox" class="form-check" name="isDeleted" id="field_isDeleted" data-cy="isDeleted" formControlName="isDeleted" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksBackendApp.nominee.member" for="field_member">Member</label>
          <select
            class="form-control"
            id="field_member"
            data-cy="member"
            name="member"
            formControlName="member"
            [compareWith]="compareMember"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="memberOption" *ngFor="let memberOption of membersSharedCollection">{{ memberOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
